input[type=number] {
  width: 90px;
  text-align: left;
}

label {
  width: 150px;
  float: left;
}

select {
  width: 100px;
}

span {
  font-weight: bold;
}

form {
  padding: 20px;
  border: 2px solid black;
}

.row {
  margin: 10px;
}