<div [hidden]="submitted">
  <h1>Create Order:</h1>
  <pre>{{orderCreate | json}}</pre>
  <form #f="ngForm" (ngSubmit)="create(f)">
      <p>
          <label>Ticker:&nbsp;</label>
          <select [(ngModel)]="orderCreate.tickerId" name="ticker">
              <option *ngFor="let ticker of tickers|async" [value]="ticker.id">{{ticker.tickerSymbol}}</option>
          </select>
      </p>

      <p>
          <label>Price:&nbsp;</label>
          <input type="number" [(ngModel)]="orderCreate.marketPrice" name="marketPrice">
      </p>

      <p>
        <label>Number of shares:&nbsp;</label>
        <input type="number" [(ngModel)]="orderCreate.numShare" name="numShare">
    </p>

      <p>
          <label>Status:&nbsp;</label>
          <select [(ngModel)]="orderCreate.status" name="status">
            <option *ngFor="let status of eStatus | keyvalue" [value]="status.value">{{status.value}}</option>
        </select>
      </p>
      <p>
        <label>Action:&nbsp;</label>
        <select [(ngModel)]="orderCreate.action" name="acton">
          <option *ngFor="let action of eAction | keyvalue" [value]="action.value">{{action.value}}</option>
        </select>
      </p>

      <p>
        <label>Price type:&nbsp;</label>
        <select [(ngModel)]="orderCreate.priceType" name="priceType">
          <option *ngFor="let priceType of ePriceType | keyvalue" [value]="priceType.value">{{priceType.value}}</option>
        </select>
      </p>

      <p>
        <button type="submit" [disabled]="!f.valid">create order</button>
      </p>
  </form>
</div>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ orderCreate.numShare }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9">{{ orderCreate.priceType }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9">{{ orderCreate.action }}</div>
  </div>
  <br>
  <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>