.order-item {
  padding: 10px;
  background-color: steelblue;
  color: white;
}

.order-item img {
  width: 100%;
}

.order-item div {
  margin-bottom: 20px;
}

.order-item .caption-left {
  float: left;
}

.order-item .caption-right {
  float: right;
}

.order-item .caption-normal {
  clear: both;
}
