.order-item-open {
  padding: 10px;
  background-color: rgb(7, 198, 64);
  color: white;
  border: 2px solid black;
}

.order-item-close {
  padding: 10px;
  background-color: rgb(199, 45, 6);
  color: white;
  border: 2px solid black;
}

.order-item img {
  width: 100%;
}

.order-item div {
  margin-bottom: 20px;
}

.order-item .caption-left {
  float: left;
}

.caption-right {
  float: right;
}

.order-item .caption-normal {
  clear:right
}
